.side-drawer {
height: 100%;
background: rgba(0,0,0,0.9);
box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.5);
position: fixed;
top: 0;
left: 0;
justify-content: center;
height: 100%;
width: 70%;
max-width: 400px;
z-index: 200;
transform: translateX(-100%);
transition: transform 0.3s ease-out;
}
.side-drawer.open {
    transform: translateX(0);
}
.hamburger {
    font-size: 2rem;
    color: var(--mainYellow);
}
.navbar-nav {
    height: 100%;
   justify-content: center; 
}
.nav-item {
    margin: 0.1rem 0;
}
.nav-link {
    font-size: 2rem;
    color: var(--main) !important;
    text-transform: capitalize;
}
.icon {
    font-size: 1.5rem;
}
.navbar-nav .nav-link:hover {
    color: var(--mainYellow) !important;
}