.App {
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(69, 182, 197);
  color: white;
  width: 100%;
  min-height: 80px;
}
.navmobile {
  display: none;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(69, 182, 197);
  color: white;
}
.top {
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 80px;
}
.pill {
  width: 50px;
  height: 50px;
  border-radius: 30px;
 
}
.nav-links {
  display: flex;
  width: 25%;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  padding-right: 200px;
}
.hi {
  font-size: 15px;
  font-weight: bolder;
}
.pab {
  display: flex;
}
.app {
  display: flex;
  flex-direction: column ;
  background-color: rgb(221, 250, 250);
  width: 55%;
  min-height: 530px;
  padding-left: 30px;
  text-align: left;
  font-size: 14px;
}
.back {
  width: 70%;
  height: 350px;
  border-radius: 10%;
}
.last {
  border: 1px solid aqua;
  height: 350px;
  width: 33%;
  margin-top: 70px;
  margin-left: 60px;
  padding-top: 20px;
  font-size: 17px;
  text-align: start;
  float: right;
}
h2 {
  margin-left: 90px;
  padding-bottom: -40px;
}
form {
  margin-top: 30px;
  margin-bottom: 15px;
}
label{
  margin-left: 70px;
}
input {
  width: 65%;
  height: 30px;
  margin-left: 70px;
  margin-bottom: 15px;
  padding-left: 10px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: rgb(243, 244, 245);
  outline: none;
  font-size: 15px;
}
.rep {
  text-decoration: none;
}
.hey{
  margin-left: 70px;
  text-align: center;
  width: 65%;
  height: 30px;
  border: 1px solid rgb(87, 190, 216);
  border-radius: 10px;
  background-color: rgb(87, 190, 216);
  color: white;
  font-family:  serif;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
.an{
  margin-left: 100px;
  margin-bottom: 0px;
  font-size: 15px;
}
.we {
  padding-left: 310px;
  color: rgb(70, 149, 173);
  font-weight: normal;
  font-size: 15px;
  margin-top: -20px;
}
.account {
  border: 1px solid aqua;
  height: 520px;
  width: 33%;
  margin-top: -520px;
  margin-right: 80px;
  padding-top: -10px;
  font-size: 15px;
  text-align: start;
  float: right;
}
.but {
  margin-top: 0px;
  margin-left: 70px;
  width: 65%;
  height: 45px;
  border: 1px solid rgb(87, 190, 216);
  border-radius: 10px;
  outline: none;
  background-color: rgb(87, 190, 216);
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family:  serif;
}
.end {
  padding-left: 100px;
}
.pee {
  margin-top: -35px;
  margin-left: 320px;
  color: rgb(70, 149, 173);
  font-weight: normal;
  font-size: 15px;
}

@media only screen and ( max-width: 760px) {

  .App {
    width: 100%;
    text-align: center;
  }
  .nav {
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(69, 182, 197);
    color: white;
    width: 100%;
    min-height: 80px;
  }
  .navmobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(69, 182, 197);
    color: white;
    /* width: 100%; */
    min-height: 80px;
  }
  .top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 100px;
  }
  .pill {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin-right: -40px;
   
  }
  .nav-links {
    display: flex;
    width: 15%;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    padding-left: 100px;
    justify-content: space-evenly;
  }
  .app {
    display: none;
    flex-direction: column ;
    background-color: rgb(221, 250, 250);
    width: 55%;
    min-height: 530px;
    padding-left: 30px;
    text-align: left;
    font-size: 14px;
  }
  .hi {
    padding-left: 150px;
  }
  .pres {
    padding-left: 10px;
  }
  .last {
    width: 100%; 
    font-size: 14px;
    margin-left: 200px;
    padding: 35px;
    float: right;
  }
  .hey{
    margin-left: 70px;
    text-align: center;
    width: 75%;
    height: 40px;
  }
  input {
    width: 70%;
  }
  .an{
    margin-left: 70px;
  }
  .we {
    margin-left: -30px;
  }
  .account {
    height: 520px;
    width: 90%;
    margin-top: 0px;
    margin-left: 140px;
    padding-top: -10px;
    font-size: 15px;
    text-align: start;
    float: left;
  }
} 
